# Conexão SQL Server
# Formato: sqlserver://HOST:PORT;database=NOME_DB;user=USUARIO;password=SENHA;encrypt=true
DATABASE_URL="sqlserver://localhost:1433;database=salus;user=sa;password=SuaSenha;encrypt=false"

# NextAuth
NEXTAUTH_SECRET="gere-um-segredo-aqui-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Credenciais do admin (para seed inicial)
ADMIN_EMAIL="admin@empresa.com"
ADMIN_PASSWORD="senha-segura-aqui"
